/* variables */
:root {
   --color-white: white;
   --button-primary: #7dbcff;
   --button-secondary: #a1ecff;
   --font-color-base: #666;
   --font-color-dark: #212529;
   --font-color-light: #b0aebe;
   --font-color-link: #57a6ff;
   --footer: #34314b;
   --footer-base: #2e2b45;
   --success: #64ecf5;
   --danger: #ff888d;
   --contrast: rgba(246, 248, 249, 0.7);
}

/* universal styles */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--font-color-dark);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bg-contrast {
    background-color: var(--contrast);
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* button */
.btn {
    display: inline-block;
    font-weight: 600;
    color: var(--font-color-dark);
    cursor: pointer;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.6rem 1.9rem;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--button-primary);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.btn-primary {
    background-image: linear-gradient(90deg, var(--button-secondary) 0%, var(--button-primary) 100%);
    color: var(--color-white);
    border: 1px solid var(--button-secondary);
    box-shadow: 0 5px 10px rgba(161, 236, 255, 0.5);
}

/* nav */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: ease-in-out 0.3s;
}

[aria-controls="navbarDropdown"] {
    display: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    transition: ease-in-out;
    color: var(--color-white);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link a {
    color: var(--color-white);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.5rem;
}

/* header */
.bg-header {
    background-image: url(../CodeRad-assets/bg-header-1.jpg);
    background-color: var(--footer);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50% 20%;
    padding: 4.5rem 0;
    z-index: -2;
}

.bg-header::before {
    background-image: linear-gradient(30deg, 
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2)100%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-header {
    color: var(--color-white);
}

/* why me section */
.why-me-section {
    padding-top: 9rem;
}

.why-me-wrapper {
    display: flex;
    align-items: center;
}

.why-me-wrapper div {
    flex: 1;
}

.block-text {
    padding-right: 3.5rem;
}

.why-me {
    color: var(--font-color-dark);
    font-family: "hinds", sans-serif;
}

.why-me-header {
    font-size: 2.4rem;
    font-family: "hinds", sans-serif;
    font-weight: 600;
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
}

/* services section */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding-top: 8rem;
}

.service-card {
    border-radius: 8px;
    box-shadow: 0 0 8px var(--font-color-light);
    padding: 2rem;
}

.service-circle {
    display: block;
    float: left;
    margin-right: 0.8rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--font-color-base);
}

.circle1 {
   background-image: linear-gradient(90deg, #9ccdf3 0%, #94aafd 100%); 
}
.circle2 {
    background-image: linear-gradient(90deg, #55edc0 0%, #4bdbdb 100%); 
}
.circle3 {
    background-image: linear-gradient(90deg, #fda498 0%, #f58b9e 100%); 
}
.circle4 {
    background-image: linear-gradient(90deg, #f2a7ca 0%, #c2894f 100%); 
}
.circle5 {
    background-image: linear-gradient(90deg, #ffc187 0%, #fe93a7 100%); 
}
.circle6 {
    background-image: linear-gradient(90deg, #a1ecff 0%, #7bbcff 100%); 
}